<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<link rel="stylesheet" href="/new.css">
<body>
    <form method="post" action="/posts">
    <input type="text" name="username" placeholder="Enter Username"><br><br>
    <textarea 
    name="content" 
    placeholder="Write your content here..." 
    rows="5" 
    cols="40" 
    required></textarea>
    <br><br>
    <button>Upload Post</button>

    </form>
</body>
</html>